<!-- so, you're curious what's under the hood. nope, it's not Framer. or Webflow. we have coded this. -->
<!DOCTYPE html>
<html data-scrapbook-source="https://functional.co/?ref=onepagelove" data-scrapbook-create="20251129111435029">

<head>
  <meta charset="UTF-8">
  <title>Functional - Timesheets, time off &amp; wellbeing</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, viewport-fit=cover">

  <link rel="icon" href="favicon.ico" sizes="any">
  <link href="icons/favicon-light.svg" rel="icon" type="image/svg+xml">

  <meta property="og:title" content="Functional - Timesheets, time off and wellbeing ">
  <meta property="og:description"
    content="Functional streamlines timesheets, time off and wellbeing. Purpose-built for small teams.">
  <meta property="og:image" content="https://www.functional.co/img/cover.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Functional - Timesheets, time off &amp; wellbeing">
  <meta name="twitter:description"
    content="Functional streamlines timesheets, time off and wellbeing. Purpose-built for small teams.">
  <meta name="twitter:image" content="https://www.functional.co/img/cover.png">







  <link href="css2.css" rel="stylesheet">


  <link href="style.css" rel="stylesheet" type="text/css">




</head>

<body>
  <div class="overlay"></div>
  <header class="globalheader fixed-header nav-up">
    <div class="navigation">
      <div class="nav-wrapper">
        <div class="logo"><a href="#" class="header-logo" target="_parent"><img src="icons/functional-logo.svg"></a>
        </div>
        <nav class="menu-items">
          <ul>
            <li><a href="#why" class="menu-item">Why Functional?</a></li>
            <li><a href="#approach" class="menu-item">Our Approach</a></li>
            <li><a href="#faq" class="menu-item">FAQ</a></li>
            <!-- <li><a href="#" class="menu-item">Blog</a></li> -->
          </ul>
        </nav>
        <div class="nav-button">
          <a href="#waitlist" class="cta-header">Get Early Access</a>
        </div>
        <div class="mobile-nav">
          <button class="menu-toggle">
            <div class="menu-bar" data-position="top"></div>
            <div class="menu-bar" data-position="bottom"></div>
          </button>
        </div>
      </div>
    </div>

  </header>

  <section class="hero">
    <div class="hero-wrapper">
      <h1><span class="word">Attendance</span> <span class="word">done</span> <span class="word">right.</span> <span
          class="word">Wellbeing</span> <span class="word">done</span> <span class="word">better.</span></h1>
      <div class="intro">
        Functional is a lightweight app for small teams to streamline <span class="strong">timesheets</span>, <span
          class="strong">time off</span> and track <span class="strong">employee wellbeing</span>, all inside the team
        chat.
      </div>
      <div class="form-wrapper">
        <div class="optin-form">
          <div class="ff-6720dc1e8a283a1a894e8506 fd-form fd-focus-visible-applied" data-ff-el="root"
            data-ff-version="3" data-ff-type="inline" data-ff-name="inlineNoImage" data-ff-stage="default"
            data-ff-handle-status="initialized">
            <span class="mail-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="#153035" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-mail">
                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                <polyline points="22,6 12,13 2,6"></polyline>
              </svg></span>
            <!--tpl {% block config %} tpl-->
            <div data-ff-el="config"
              data-ff-config="eyJ0cmlnZ2VyIjp7Im1vZGUiOiJpbW1lZGlhdGVseSIsInZhbHVlIjowfSwib25TdWNjZXNzIjp7Im1vZGUiOiJtZXNzYWdlIiwibWVzc2FnZSI6IiIsInJlZGlyZWN0VXJsIjoiIn0sImNvaSI6ZmFsc2UsInNob3dGb3JSZXR1cm5WaXNpdG9ycyI6dHJ1ZSwibm90aWZpY2F0aW9uIjp0cnVlfQ=="
              style="display: none"></div>
            <!--tpl {% endblock %} tpl-->
            <div class="ff-6720dc1e8a283a1a894e8506__container">
              <div class="ff-6720dc1e8a283a1a894e8506__wrapper">
                <form class="ff-6720dc1e8a283a1a894e8506__form"
                  action="https://form.flodesk.com/forms/6720dc1e8a283a1a894e8506/submit" method="post"
                  data-ff-el="form" novalidate="">
                  <div class="ff-6720dc1e8a283a1a894e8506__content fd-form-content" data-ff-el="content">
                    <div class="ff-6720dc1e8a283a1a894e8506__fields" data-ff-el="fields">
                      <!--tpl {% block fields %} tpl-->

                      <div class="ff-6720dc1e8a283a1a894e8506__field fd-form-group">
                        <input id="ff-6720dc1e8a283a1a894e8506-email"
                          class="ff-6720dc1e8a283a1a894e8506__control fd-form-control" type="text" maxlength="255"
                          name="email" placeholder="Enter your work email" data-ff-tab="email::submit" required=""
                          value="">
                      </div>

                      <input type="text" maxlength="255" name="confirm_email_address" style="display: none" value="">
                      <!--tpl {% endblock %} tpl-->
                    </div>

                    <div class="ff-6720dc1e8a283a1a894e8506__footer" data-ff-el="footer">
                      <button type="submit" class="ff-6720dc1e8a283a1a894e8506__button fd-btn" data-ff-el="submit"
                        data-ff-tab="submit">
                        <span>Get Early Access</span>
                      </button>
                    </div>
                  </div>
                  <div class="ff-6720dc1e8a283a1a894e8506__success fd-form-success" data-ff-el="success">
                    <div class="ff-6720dc1e8a283a1a894e8506__success-message thank-you">
                      <div>
                        <div>
                          <div data-paragraph="true">Hooray, you've been added to our waitlist! <br> You can also follow
                            us on <a href="https://www.linkedin.com/company/functionalco" target="_blank">Linkedin</a>.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ff-6720dc1e8a283a1a894e8506__error fd-form-error" data-ff-el="error"></div>
                </form>
              </div>
            </div>
          </div>


        </div>

      </div>

      <div class="message">Good Morning</div>


     


  </section>
  <section class="features">
      <div class ="feature feature-wide">
        <div class ="content">
          <div class ="title">тут буде чат
          </div>
        </div>
  </section>


</body>

</html>