services: 
  frontend: 
    build: 
      context: ./frontend 
      dockerfile: Dockerfile 
    ports: 
      - "5173:5173" 
    restart: unless-stopped 
    volumes: 
      - ./frontend:/app 
      - /app/node_modules 
 
  backend: 
    build: 
      context: . 
      dockerfile: backend/Dockerfile 
    ports: 
      - "8080:8080" 
    restart: unless-stopped 
    volumes: 
      - ./backend/app:/app/app 
      - ./backend/outputs:/app/outputs 
    env_file: 
      - ./backend/.env