services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile

    ports:
      - 5173:5173

  backend:
    build:
      context: ./backend/
      dockerfile: Dockerfile
    ports:
      - 8080:8080

    volumes:
      - ./backend:/app
